<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Machine Learning Taxonomy </title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/Site.css">
    <link rel="stylesheet" type ="text/css" href="static/css/style.css">
    <link rel="stylesheet" type ="text/css" href="static/css/d3.css">
</head>
<body>
<div class="self-column" id="self-column-1">
    <div class="block-container" id="block-1-2">
        <div class="my-panel" @*style="display: none" *@>
            <div>
                <span class="my-panel-heading"> Facet View </span>
                <!--<span class="save-button header-button" onclick="saveSVG('worker-svg')">Save</span>-->
            </div>
            <hr class="my-panel-seg"/>
        </div>
    </div>
    <div class="block-container" id="block-2-1">
        <div class="my-panel" @*style="display: none" *@>
            <div>
                <span class="my-panel-heading"> Info </span>
                <!--<span class="save-button header-button" onclick="saveSVG('worker-svg')">Save</span>-->
            </div>
            <hr class="my-panel-seg"/>
        </div>
    </div>
</div>
<div class="self-column" id="self-column-2">
    <div class="block-container" id="block-1-1">
        <div class="my-panel" @*style="display: none" *@>
            <div>
                <span class="my-panel-heading"> Taxonomy </span>
                <!--<span class="save-button header-button" onclick="saveSVG('worker-svg')">Save</span>-->
            </div>
            <hr class="my-panel-seg"/>
        </div>
    </div>
</div>
</body>
<script src="static/js/lib/jquery-3.2.1.min.js"></script>
<script src="static/js/lib/popper.js"></script>
<script src="static/js/lib/bootstrap.js"></script>
<script src="static/js/infoview.js"></script>
<script src="static/js/taxoview.js"></script>
<script src="static/js/facetview.js"></script>
<script src="static/js/main.js"></script>
<script src="static/js/lib/d3.v4.js"></script>
<script src="static/js/helper.js"></script>
<script src="static/js/interaction.js"></script>
<script src="static/js/lib/request_dag.js"></script>
<script src="static/js/handler.js"></script>
<script src="static/js/global.js"></script>
</html>